# Python cache files
__pycache__/
*.py[cod]
*$py.class
experiments/training/models/
experiments/training/checkpoints/
experiments/training/bert_training/model_results.json
experiments/training/distil_training/model/
checkpoints/
*.safetensors
*.pt
